nav.navbar, .navbar-default {
    background-color: #c5d5cb !important;
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover {
    font-weight: 600;
    color: #fae596;
    outline: none;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fae596;
    font-weight: 600;
    outline: none;
}


.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus  {
    color: white;
    outline: none;
}


a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fae596;
    text-decoration: none;
}